In [1]:
import pandas as pd
from os import chdir, getcwd

In [2]:
chdir('../..')

In [3]:
# Get Path to Data
data_path = getcwd() + "/data/raw"

# Read DataFrames
bls_df = pd.read_csv(f"{data_path}/BLS_CoalMining1.csv")
occ_df = pd.read_csv(f"{data_path}/SKILLSHED.csv")

print(bls_df.columns)
print(occ_df.columns)

Index(['AREA', 'AREA_TITLE', 'AREA_TYPE', 'PRIM_STATE', 'NAICS', 'NAICS_TITLE',
       'I_GROUP', 'OWN_CODE', 'OCC_CODE', 'OCC_TITLE', 'O_GROUP', 'TOT_EMP',
       'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'PCT_TOTAL', 'PCT_RPT',
       'H_MEAN', 'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN',
       'H_PCT75', 'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75',
       'A_PCT90', 'ANNUAL', 'HOURLY'],
      dtype='object')
Index(['SOC_Code', 'Title', 'Administration_and_Management', 'Administrative',
       'Economics_and_Accounting', 'Sales_and_Marketing',
       'Customer_and_Personal_Service', 'Personnel_and_Human_Resources',
       'Production_and_Processing', 'Food_Production',
       ...
       'Degree_of_Automation', 'Importance_of_Being_Exact_or_Acc',
       'Importance_of_Repeating_Same_Tas', 'Structured_versus_Unstructured_W',
       'Level_of_Competition', 'Time_Pressure',
       'Pace_Determined_by_Speed_of_Equi', 'Work_Schedules',
       'Duration_of_Typical_Work_Week', 'Job_Zone'],
      dtype='object', length=134)

C:\Users\nn198412\AppData\Local\Temp\ipykernel_37216\454524003.py:5: DtypeWarning: Columns (19,31) have mixed types. Specify dtype option on import or set low_memory=False.
  bls_df = pd.read_csv(f"{data_path}/BLS_CoalMining1.csv")

In [3]:
# Transform the SOC_Code to OCC_CODE
bls_df_columns = bls_df.columns.tolist()

# Getting Index of OCC_CODE COlumn
occ_idx = bls_df_columns.index('OCC_CODE')

# Renaming OCC_CODE to SOC_Code in BLS Dataset to Be Consistent with Skillshed
bls_df.columns = bls_df_columns[:occ_idx] + ['SOC_Code'] + bls_df_columns[occ_idx+1:]

In [4]:
# Update BLS DF
bls_df['SOC_Code'] = bls_df['SOC_Code'].apply(lambda x: f"{x}.00")

bls_df.head()

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,SOC_Code,OCC_TITLE,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,00-0000.00,All Occupations,...,46.00,52.64,62.86,"46,330","61,210","95,680","109,490","130,750",NaN,NaN
1,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,11-0000.00,Management Occupations,...,61.17,78.04,97.00,"80,670","105,400","127,240","162,330","201,770",NaN,NaN
2,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,11-1000.00,Top Executives,...,60.95,80.55,#,"79,120","97,740","126,780","167,550",#,NaN,NaN
3,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,11-1020.00,General and Operations Managers,...,60.58,77.84,99.41,"77,750","96,940","126,000","161,910","206,780",NaN,NaN
4,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,11-1021.00,General and Operations Managers,...,60.58,77.84,99.41,"77,750","96,940","126,000","161,910","206,780",NaN,NaN

In [5]:
# Perform Inner Join
merged_results = occ_df.merge(bls_df, how='inner', on='SOC_Code')

print(merged_results.shape)

merged_results.head()

(5987, 165)

,SOC_Code,Title,Administration_and_Management,Administrative,Economics_and_Accounting,Sales_and_Marketing,Customer_and_Personal_Service,Personnel_and_Human_Resources,Production_and_Processing,Food_Production,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,11-1011.00,Chief Executives,4.75,2.66,3.7,3.23,4.09,4.1,2.63,1.14,...,#,#,#,"163,640","189,240",#,#,#,NaN,NaN
1,11-1011.00,Chief Executives,4.75,2.66,3.7,3.23,4.09,4.1,2.63,1.14,...,#,#,#,"200,850",#,#,#,#,NaN,NaN
2,11-1011.00,Chief Executives,4.75,2.66,3.7,3.23,4.09,4.1,2.63,1.14,...,#,#,#,"100,160","164,850",#,#,#,NaN,NaN
3,11-1011.00,Chief Executives,4.75,2.66,3.7,3.23,4.09,4.1,2.63,1.14,...,73.39,#,#,"60,870","66,740","152,660",#,#,NaN,NaN
4,11-1011.00,Chief Executives,4.75,2.66,3.7,3.23,4.09,4.1,2.63,1.14,...,81.64,#,#,"95,470","126,540","169,800",#,#,NaN,NaN

In [6]:
num_cols = merged_results.select_dtypes(['float64', 'int64']).columns.tolist()

In [7]:
results = merged_results[['SOC_Code', 'Title'] + num_cols]

results.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5987 entries, 0 to 5986
Columns: 140 entries, SOC_Code to LOC_QUOTIENT
dtypes: float64(133), int64(5), object(2)
memory usage: 6.4+ MB

In [8]:
print(results.shape)

# Drop Duplicates
results.drop_duplicates(subset=['SOC_Code'], inplace=True)

(5987, 140)

C:\Users\nn198412\AppData\Local\Temp\ipykernel_14576\438130470.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results.drop_duplicates(subset=['SOC_Code'], inplace=True)

In [9]:
# Output, index=False: 
results.to_csv(f"{data_path}/CoalMiningCluster_606.csv", index=False)

NameError: name 'data_path' is not defined